// Colors
$primary: #01D4E4;
$secondary: #5935FF;
$gradient: linear-gradient(37.87deg, #0194FF 20.9%, #01EADA 78.55%);

// Neutras
$neutral100: #17171B;
$neutral200: #27272D;
$neutral300: #27272D;
$neutral400: #737380;